/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// RGB underglow
#include <dt-bindings/zmk/rgb.h>

// Bluetooth
#include <dt-bindings/zmk/bt.h>

#define ALPH_LAY 0
#define NUMS_LAY 1
#define SPCL_LAY1 2
#define SPCL_LAY2 3

#define NONE 0


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | ESC  |  '  |  ,  |  .   |  P   |  Y   |                                               |  F   |  G  |  C  |  R  |  L  | ESC  |
// | TAB  |  A  |  O  |  E   |  U   |  I   |                                               |  D   |  H  |  T  |  N  |  S  |   -  |
// | LCTRL |  ;  |  Q  |  J   |  K   |  X   | LCTRL | SPCL_LAY1 |    | NUMS_LAY |    |  B  |  M  |  W  |  V  |  Z  | CTRL |
//                        | GUI  | ESC  | DEL  |  SPACE  | LSHIFT |    | RET | SPACE | BSPC  | TAB  | R-ALT |
			bindings = <
	&kp ESC   &kp SQT &kp COMMA &kp DOT &kp P &kp Y                                         &kp F &kp G  &kp C &kp R   &kp L &kp ESC
	&kp TAB   &kp A &kp O &kp E &kp U &kp I                                                  &kp D &kp H  &kp T &kp N   &kp S &kp MINUS
	&kp LCTRL  &kp SEMI &kp Q &kp J &kp K &kp X &kp LCTRL &mo SPCL_LAY1 &mo NUMS_LAY &kp LALT &kp B &kp M  &kp W &kp V   &kp Z &kp RCTRL
	                &kp GUI &kp ESC &kp DEL &kp SPACE &kp LSHIFT                  &kp RET  &kp SPACE  &kp BSPC &kp TAB &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp J K &inc_dec_kp B W>;
		};

		number_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |      |  `  |  {  |  (   |  [   |  <   |                                            |  >   |  ]  |  )  |  }  |  ~  |      |
// |      |  1  |  2  |  3   |  4   |  5   |                                            |  6   |  7  |  8  |  9  |  0  |   -  |
// |      |  ;  |     |  \   |      |      | SPCL_LAY2 | LCTRL |    | SPCL_LAY2 |  ALT  |      |     |  /  |     |     |      |
//                        |      |      |      |       |       |    |           |       |      |     |     |
			bindings = <
	&trans &kp GRAVE &kp LBRC &kp KP_LPAR &kp LBKT &kp LT                                           &kp GT &kp RBKT &kp KP_RPAR &kp RBRC &kp TILDE &trans
	&trans &kp 1     &kp 2    &kp 3       &kp 4    &kp 5                                            &kp 6  &kp 7  &kp 8         &kp 9    &kp 0     &trans
	&trans &trans    &none    &kp BSLH    &none    &none  &trans &mo SPCL_LAY2   &none  &kp LALT &none  &none  &kp FSLH      &none    &none     &trans
                            &trans      &trans   &trans &trans        &trans      &trans &trans   &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
		};

    special_1 {
// ---------------------------------------------------------------------------------------------------------------------------------
// |
      bindings = <
	&trans &kp F1  &kp F2  &kp F3   &kp F4     &kp F5                                     &none  &none  &none  &none  &kp RIGHT   &trans
	&trans &kp F6  &kp F7  &kp F8   &kp F9     &kp F10                                    &none &kp LEFT &none &none &none        &none
	&trans &kp F11 &kp F12 &kp DOWN &kp UP  &none  &trans &none         &mo SPCL_LAY2 &trans &none  &none  &none  &none &none  &none
                      &trans   &trans     &trans &trans &trans        &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
    };

  special_2 {
// ---------------------------------------------------------------------------------------------------------------------------------
// |
      bindings = <
	&rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &none  &none  &none                                 &none  &none  &none  &none  &none &none
	&trans      &rgb_ug RGB_HUI &rgb_ug RGB_HUD &none  &none  &none                                 &none  &none  &none  &none  &none &none
	&trans      &rgb_ug RGB_SAI &rgb_ug RGB_SAD &none  &none  &none  &trans &none     &none  &trans &none  &none  &none &none &none &none
                                      &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
    };
  };
};
